{% extends "layout.html" %}

{% load static %}

{% block title %}College Mania{% endblock %}

{% block body %}

    <div class="site-section" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5">
            <h1 class="text-white serif text-uppercase mb-4">Need books from seniors</h1>
            <p class="text-white mb-5">Here you don't have to stuck with book stores.</p>
            <p><a href="books" class="btn btn-white px-4 py-3">Buy Any Semester Book Here</a></p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-10">
            <img src='{% static "SellMyBook/images/book_1.png" %}' alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light" id="features-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-7">
            <h2 class="heading">Features</h2>
            <p>Common platform for college students to come up and communicate and learn.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="/books/">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-book"></span>
              </span>
              <h3>SecondHand Books</h3>
              <p>Can easily get books from seniors. Don't need to buy it from store. SAVE PAPER</p>
            </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-bookmark"></span>
              </span>
              <h3>Practical Assignment</h3>
              <p>Worried about practical assignments? Don't worry will guide you and provide you all the practical material you required.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <a href="https://drive.google.com/drive/mobile/folders/1I89XNsuP2BPMWr3JHMbNXIO0o_pW-1su/0Bz9C0ysJZ7PnMGZKeWcybUpXWGM/1tiLJwBoXFB3JNs7lxx9c3tCidRQFi1l_/1zPSCIb69lEB1S4DtqZoEc2oZWdKdXiKW/1oO1cHXUY2BvD7ysmdY0AD5paG2nLIPt2?usp=sharing&sort=13&direction=a">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-files-o"></span>
              </span>
              <h3>Exam Paper</h3>
              <p>Exams nearby? we will give you tips and provide exam paper format and all previous year exam papers.</p>
            </div>
            </a>
          </div>
          <!--
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-font"></span>
              </span>
              <h3>Big Text</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.</p>
            </div>
            
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-photo"></span>
              </span>
              <h3>Images</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-text-height"></span>
              </span>
              <h3>Readable Text</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.</p>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
<!--
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7">
            <h2 class="heading">Book Screenshot</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, harum repudiandae provident neque voluptas odio nostrum officiis debitis et vitae, dolorem placeat fugiat recusandae aperiam aspernatur expedita alias, officia. Suscipit!</p>
            <p class="mb-3">
              <a href="#" class="customNextBtn">Prev</a>
              <span class="mx-2">/</span>
              <a href="#" class="customPrevBtn">Next</a>
            </p>
          </div>
        </div>
        
        <div class="owl-carousel slide-one-item">
          <img src='{% static "SellMyBook/images/img_1.jpg" %}' alt="Image" class="img-fluid">
          <img src='{% static "SellMyBook/images/img_2.jpg" %}' alt="Image" class="img-fluid">
          <img src='{% static "SellMyBook/images/img_3.jpg" %}' alt="Image" class="img-fluid">
          <img src='{% static "SellMyBook/images/img_4.jpg" %}' alt="Image" class="img-fluid">
          <img src='{% static "SellMyBook/images/img_5.jpg" %}' alt="Image" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="author  d-lg-flex" id="about-section">
      <div class="bg-img" style='background-image: url("{% static "SellMyBook/images/author_1.jpg" %}");'></div>
      <div class="text">
        <h3>Hello It's Jane</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis qui voluptates illum harum minima accusantium praesentium eos aut ab. Voluptate nulla illum ullam maxime consequuntur labore qui delectus, omnis saepe.</p>
        <p>Eos ratione repellat ea dignissimos iure ipsam sed dolore, excepturi id recusandae cumque sit, fugiat obcaecati necessitatibus nisi voluptate similique? Sed quae itaque nisi magnam amet aut maiores debitis temporibus.</p>
        <p>Iste repellendus libero cumque facilis sint quas quis temporibus quia veritatis reiciendis obcaecati, magni, dolorum aspernatur laborum, est, sequi rerum! Perspiciatis facilis commodi libero ipsa minima reiciendis rerum, facere quaerat.</p>

        div.social_

        <div class="mt-5">
          <span class="d-block text-black mb-4">Jane Smith, <span class="text-muted">Book Author &amp; Publisher</span></span>
          <img src='{% static "SellMyBook/images/signature.png" %}' alt="Image" class="img-fluid w-25">
        </div>
        
      </div>
    </div>

-->

<!--    <div class="site-section bg-light" id="testimonial-section">-->
<!--      <div class="container">-->
<!--        <div class="row mb-5">-->
<!--          <div class="col-12">-->
<!--            <h2 class="heading">Testimonial From Developers</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-4">-->
<!--            <div class="testimonial bg-white h-100">-->
<!--              <blockquote class="mb-3">-->
<!--                <p>&ldquo;Here we came up with totally new idea which help students and make them easy to communicate with seniors which built their confidence and motivation.&rdquo;</p>-->
<!--              </blockquote>-->
<!--              <div class="d-flex align-items-center vcard">-->
<!--                <figure class="mb-0 mr-3">-->
<!--                  <img src='{% static "SellMyBook/images/abhishek_varde.jpg" %}' alt="Free website template by Free-Template.co" class="img-fluid ounded-circle">-->
<!--                </figure>-->
<!--                <div class="vcard-text">-->
<!--                  <span class="d-block">Abhishek Varde</span>-->
<!--                  <span class="position">Web Developer</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <div class="testimonial bg-white h-100">-->
<!--              <blockquote class="mb-3">-->
<!--                <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>-->
<!--              </blockquote>-->
<!--              <div class="d-flex align-items-center vcard">-->
<!--                <figure class="mb-0 mr-3">-->
<!--                  <img src='{% static "SellMyBook/images/abhiranjan.jpg" %}' alt="Free website template by Free-Template.co" class="img-fluid ounded-circle">-->
<!--                </figure>-->
<!--                <div class="vcard-text">-->
<!--                  <span class="d-block">Abhiranjan Kumar</span>-->
<!--                  <span class="position">Tatti Designer</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <div class="testimonial bg-white h-100">-->
<!--              <blockquote class="mb-3">-->
<!--                <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>-->
<!--              </blockquote>-->
<!--              <div class="d-flex align-items-center vcard">-->
<!--                <figure class="mb-0 mr-3">-->
<!--                  <img src='{% static "SellMyBook/images/person_2.jpg" %}' alt="Free website template by Free-Template.co" class="img-fluid ounded-circle">-->
<!--                </figure>-->
<!--                <div class="vcard-text">-->
<!--                  <span class="d-block">Craig Smith</span>-->
<!--                  <span class="position">Web Designer</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  {% endblock %}