{% extends "layout.html" %}

{% load static %}

{% block title %}Books{% endblock %}

{% block body %}
    <div class="site-section bg-light" id="features-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-7">
            <h2 class="heading">Features</h2>
            <p>Common platform for college students to come up and communicate and learn.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-book"></span>
              </span>
              <h3>SecondHand Books</h3>
              <p>Can easily get books from seniors. Don't need to buy it from store. SAVE PAPER</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-bookmark"></span>
              </span>
              <h3>Practical Assignment</h3>
              <p>Worried about practical assignments? Don't worry will guide you and provide you all the practical material you required.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-files-o"></span>
              </span>
              <h3>Exam Paper</h3>
              <p>Exams nearby? we will give you tips and provide exam paper format and all previous year exam papers.</p>
            </div>
          </div>
          <!--
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-font"></span>
              </span>
              <h3>Big Text</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.</p>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-photo"></span>
              </span>
              <h3>Images</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="service h-100">
              <span class="wrap-icon">
                <span class="icon-text-height"></span>
              </span>
              <h3>Readable Text</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ea in accusantium est.</p>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
{% endblock %}